body{
    background-color: lightgray;
}

html, body {
    height: 100%;
    margin: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.main-content {
    flex: 1;
}
header{
    text-indent: 50px;
    font-weight: 700;
    text-align: center;
    a{
    margin-right: 50px;
    font-family: 'Segoe UI';
    text-decoration: none;
    }
}
a{
    margin-right: 50px;
    font-family: 'Segoe UI';
} 

.form-group{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

.form-group label {
        flex-basis: 700px;
        text-align: right;
        margin-right: 10px;
    }


footer{
    margin-right: 30px;
    text-align: center;
    p{
        text-align: center;
    }
    img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    } 
    a{
    margin-right: 20px;
    font-family: 'Gill Sans MT';
    text-decoration: none;
    }
}
