body{
margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#f2f2f2;

font-family:Arial;
}

.calculator{

background:white;
padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

width:260px;

}

#display{

width:100%;

height:50px;

font-size:24px;

text-align:right;

padding:10px;

border:none;

background:#eeeeee;

border-radius:5px;

margin-bottom:15px;

}

.buttons{

display:grid;

grid-template-columns:repeat(3,1fr);

grid-auto-rows:55px;

gap:10px;

}

button{

font-size:18px;

border:none;

border-radius:5px;

background:#e0e0e0;

cursor:pointer;

transition:0.2s;

}

button:hover{

background:#d0d0d0;

}

.clear{

background:#ff1900;
color:white;

}

.plus{

grid-row: span 2;

background:#ff9500;
color:white;

}

.equal{

grid-column: span 2;

background:#006c31;
color:white;

font-size:22px;

}
